footer {
  margin-top: 1.5em;
  border-top: 3px solid var(--color-white);
  font-size: 1vw;
}

.footer-section {
  display: grid;
  row-gap: 10px;
}

.footer-contacts {
  grid-template-rows: 1fr 1fr 1fr;
  row-gap: 2px;
  margin-top: 15px;
  margin-left: 100px;
}

.footer-contacts-mail,
.footer-contacts-github,
.footer-contacts-linkedin {
  display: flex;
  margin-bottom: 10px;
}

.footer-btns {
  width: 24px;
  margin-right: 15px;
}

.footer-copyright {
  margin-bottom: 40px;
}

/* Responsive Web Design Code */

/* Mobile Devices */
@media screen and (max-width: 600px) {
  footer {
    font-size: 2vw;
  }
}

/* Tablets */
@media screen and (min-width: 601px) and (max-width: 1024px) {
  footer {
    font-size: 1.5vw;
  }
}

/* Small Desktop Screens */
@media screen and (min-width: 1025px) and (max-width: 1280px) {
  footer {
    font-size: 1.2vw;
  }
}

/* Medium Desktop Screens */
@media screen and (min-width: 1281px) and (max-width: 1680px) {

}

/* Large Desktop Screens */
@media screen and (min-width: 1681px) {

}