/* Projects section */
.projects-section {
  display: flex;
  flex-direction: row;
  text-align: left;
  margin-left: 1em;
  margin-right: 1em;
}

.project {
  flex: 4;
  display: grid;
  grid-template-rows: 10% 28% 42% 15%;
  row-gap: 1em;
  margin: 1.5em;
}

#project-2 {
  display: none;
}

.project-top-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.project-header {
  font-size: 2vw;
}

.project-repo-button {
  display: flex;
  align-items: center;
  margin-right: 5em;
  color: var(--color-yellow);
}

.project-repo-button-text {
  margin-left: 10px;
}

.project-text{
  font-size: 0.9vw;
}

.project-paragraphs {
  display: flex;
  margin-top: 1em;
}

.project-gifs{
  margin-left: 1em;
  margin-right: 1em;
  display: flex;
  justify-content: space-between;
}

.project-gif-container {
  position: relative;
  max-height: 300px;
  max-width: 450px;
  transition: transform 0.5s ease;
  transform-origin: bottom left;
  z-index: 0;
}

.project-gif-container:hover {
  transform: scale(1.5);
  transform-origin: bottom left;
  z-index: 1;
}

.project-gif-container img {
  max-width: 100%;
  border: 5px solid;
  border-radius: 50px;
}

.project-gif-label {
  position: absolute;
  bottom: -15px;
  right: 20px;
  background-color: var(--color-purple);
  color: var(--color-white);
  padding: 0px 2px 0px 2px;
  font-size: 1vw;
  border-radius: 2px;
  opacity: 1;
  transition: opacity 0.5s ease;
}

.project-bottom-container {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.project-technologies {
  flex: 1;
  display: flex;
  flex-direction: column;
  font-size: 1vw;
}

.project-technologies-header {
  margin-left: 1.5em;
  font-weight: 500;
  text-decoration: underline;
}

.project-technologies-text-container {
  display: flex;
  flex-direction: row;
  margin-left: 1.5em;
}

.project-technologies-text {
  margin-right: 1.5em;
}

.project-zoom-info {
  flex: 1;
  display: flex;
  align-items: center;
  color: var(--color-yellow);
}

.project-buttons {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.project-button-1,
.project-button-2 {
  flex: 1;
  transition: color 0.15s;
  border: 2px solid transparent;
  border-radius: 2px;
  cursor: pointer;
  margin: 1.5em;
  padding: 0;
}

.project-button-1,
.project-button-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project-button-1:hover,
.project-button-2:hover {
  color: var(--color-purple);
  border-color: var(--color-purple);
}

.project-button-icon {
  margin-bottom: 10px;
}

/* Responsive Web Design Code */

@media (max-width: 640px) {
  .project-gifs {
    flex-direction: column;
  }
}