/* Projects section */
.projects-section {
  display: grid;
  grid-template-columns: 80% 20%;
  text-align: left;
  margin-left: 1em;
  margin-right: 1em;
}

.project {
  display: grid;
  grid-template-rows: 10% 28% 42% 15%;
  row-gap: 10px;
  margin: 20px;
}

#project-2 {
  display: none;
}

/* Header */
.project-header {
  font-size: 2vw;
}

/* Text */
.project-text{
  font-size: 1.5vw;
}

.project-paragraphs {
  margin-top: 10px;
}

/* Images */
.project-gifs{
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  justify-content: space-between;
}

.project-gif-container {
  position: relative;
  max-height: 300px;
  max-width: 450px;
  transition: transform 0.5s ease;
  transform-origin: bottom left;
  z-index: 0;
}

.project-gif-container:hover {
  transform: scale(1.5);
  transform-origin: bottom left;
  z-index: 1;
}

.project-gif-container img {
  height: 100%;
  width: 100%;
  border: 5px solid;
  border-radius: 50px;
}

.project-gif-label {
  position: absolute;
  bottom: -15px;
  right: 20px;
  background-color: var(--color-purple);
  color: var(--color-white);
  padding: 0px 2px 0px 2px;
  font-size: 1vw;
  border-radius: 2px;
  opacity: 1;
  transition: opacity 0.5s ease;
}

.project-bottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 20px;
}

/* Technologies Used */
.project-technologies {
  display: grid;
  row-gap: 20px;
}

.project-technologies-header {
  margin-left: 30px;
  font-weight: 500;
  text-decoration: underline;
}

.project-technologies-text-container {
  display: flex;
  flex-direction: row;
  margin-left: 30px;
}

.project-technologies-text {
  margin-right: 30px;
}

.project-zoom-info {
  display: flex;
  align-items: center;
  color: var(--color-yellow);
}

/* Side Buttons */
.project-buttons {
  display: grid;
  grid-template-rows: 50% 50%;
  text-align: center;
}

.project-button-1,
.project-button-2 {
  transition: color 0.15s;
  border: 2px solid transparent;
  border-radius: 2px;
  cursor: pointer;
  margin: 30px;
  padding: 0;
}

.project-button-1,
.project-button-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project-button-1:hover,
.project-button-2:hover {
  color: var(--color-purple);
  border-color: var(--color-purple);
}

/* Responsive Web Design Code */

/* Mobile Devices */
@media screen and (max-width: 600px) {

}

/* Tablets */
@media screen and (min-width: 601px) and (max-width: 1024px) {

}

/* Small Desktop Screens */
@media screen and (min-width: 1025px) and (max-width: 1280px) {

}

/* Medium Desktop Screens */
@media screen and (min-width: 1281px) and (max-width: 1680px) {

}

/* Large Desktop Screens */
@media screen and (min-width: 1681px) {

}