/* Resume section */
.resume-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.resume-section-cv {
  text-align: center;
}

.blurred-cv {
  filter: blur(2px);
}

.resume-section-text {
  font-size: 30px;
  text-align: left;
}

.resume-section-lists {
  font-size: 20px;
}


