/* Resume section */
.resume-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 30px;
  margin-right: 30px;
}

.resume-section-left {
  margin: 20px;
}

.resume-section-right {
  margin-left: 20px;
  margin-top: 10px;
  font-size: 30px;
  text-align: left;
}

.resume-section-text {
  margin-bottom: 50px;
}

.resume-section-lists {
  font-size: 20px;
}