/* Code in this file is responsible for seperate sections visuals */
.page-sections {
  margin-top: 78px;
}

.welcome-section,
.about-section,
.resume-section,
.projects-section {
  height: 870px;
  text-align: center;
}

.section-headers {
  display: inline-block;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 50px;
  border-top: 5px solid rgb(238, 255, 0);
  border-bottom: 5px solid rgb(238, 255, 0);
}









