/* Code in this file is responsible for seperate sections visuals */
.page-sections {
  margin-top: 78px;
  margin-left: 1em;
  margin-right: 1em;
}

.welcome-section {
  min-height: 90vh; 
}

.about-section,
.resume-section,
.projects-section {
  min-height: 75vh;
  background-color: var(--color-dark-gray);
  border-radius: 10px;
}

.section-headers {
  display: inline-block;
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 3vw;
  border-top: 5px solid var(--color-yellow);
  border-bottom: 5px solid var(--color-yellow);
}

/* Responsive Web Design Code */

/* Mobile Devices */
@media screen and (max-width: 600px) {

}

/* Tablets */
@media screen and (min-width: 601px) and (max-width: 1024px) {

}









