/* Welcome section */
.welcome-section {
  display: flex;
  flex-direction: row;
}

.welcome-section-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 1;
}

.welcome-section-text-top {
  font-size: 5vw;
}

.welcome-section-text-bottom {
  font-size: 4vw;
}

.welcome-section-contact {
  margin-top: 2em;
  display: flex;
  justify-content: space-between;
}

.github-button,
.linkedin-button,
.mail-button {
  padding: 10px 15px 10px 15px;
}

.welcome-section-image {
  background-image: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.welcome-section-image img {
  max-width: 100%;
  height: auto;
}

/* Responsive Web Design Code */

@media (max-width: 640px) {
  .welcome-section {
    display: flex;
    flex-flow: column-reverse;
  }

  .welcome-section-image img {
    max-width: 80%;
    height: auto;
  }
}
