/* Welcome section */
.welcome-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.welcome-section-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  aspect-ratio: 1/1;
}

.welcome-section-text-top {
  font-size: 5vw;
}

.welcome-section-text-bottom {
  font-size: 4vw;
}

.welcome-section-contact {
  margin-top: 50px;
  display: flex;
}

.github-button,
.linkedin-button,
.mail-button {
  padding: 10px 15px 10px 15px;
  margin-right: 3em;
}

.welcome-section-image {
  background-image: none;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1/1;
}

.welcome-section-image img {
  max-width: 100%;
  height: auto;
}

/* Responsive Web Design Code */

/* Mobile Devices */
@media screen and (max-width: 600px) {

}

/* Tablets */
@media screen and (min-width: 601px) and (max-width: 1024px) {

}

/* Small Desktop Screens */
@media screen and (min-width: 1025px) and (max-width: 1280px) {

}

/* Medium Desktop Screens */
@media screen and (min-width: 1281px) and (max-width: 1680px) {

}

/* Large Desktop Screens */
@media screen and (min-width: 1681px) {

}
