/* Code in this file is responsible for seperate sections visuals */
.page-sections {
  z-index: 90;
  margin-top: 78px;
}

.welcome-section,
.about-section,
.resume-section,
.projects-section {
  height: 870px;
  text-align: center;
}

.section-headers {
  display: inline-block;
  margin-top: 30px;
  font-size: 50px;
  border-top: 5px solid rgb(238, 255, 0);
  border-bottom: 5px solid rgb(238, 255, 0);
}

/* Welcome section */
.welcome-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.welcome-section-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.welcome-section-text-top {
  font-size: 70px;
}

.welcome-section-text-bottom {
  font-size: 50px;
}

.welcome-section-image {
  background-image: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.welcome-section-image img {
  transform: scale(1.5);
}

/* About section */
.about-section {
  background-color: red;
}

.about-section-text {
  font-size: 50px;
}

/* Resume section */
.resume-section {
  background-color: green;
}

/* Projects section */
.projects-section {
  background-color: orange;
}

.project-section-contents {
  display: grid;
  height: 73%;
  grid-template-columns: 90% 10%;
  grid-gap: 0;
  margin-top: 20px;
}

.project-1, .project-2 {
  width: 100%;
  height: 100%;
}

.project-1 {
  background-color: pink;
}

.project-2 {
  background-color: purple;
  display: none;
}

.project-buttons {
  background-color: lightgray;
  display: grid;
  grid-template-rows: 50% 50%;
  align-items: center;
}

.project-button-1,
.project-button-2 {
  transition: color 0.15s;
  border: 2px solid transparent;
  border-radius: 2px;
  cursor: pointer;
}

.project-button-1:hover,
.project-button-2:hover {
  color: var(--color-purple);
  border-color: var(--color-purple);
}
