/* Code in this file is responsible for general visuals */
body {
  margin: 0;
  padding: 0;
  background-color: var(--color-black);
  color: var(--color-white);
  font-family: Kanit, Arial;
  height: 3650px;
  transition: background-color 0.15s;
  display: flex;
  flex-direction: column;
}
.light-mode-body {
  background-color: var(--color-white);
  color: var(--color-black);
}

.light-mode-nav-bar {
  background-color: var(--color-white);
  color: var(--color-black);
  border-color: var(--color-black);
}

footer {
  text-align: center;
}

