/* Code in this file is responsible for general visuals */
body {
  margin: 0;
  padding: 0;
  background-color: var(--color-black);
  color: var(--color-white);
  font-family: Kanit, Arial;
  height: 3700px;
  transition: background-color 0.15s;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.light-mode-body {
  background-color: var(--color-white);
  color: var(--color-black);
}

.light-mode-nav-bar {
  background-color: var(--color-white);
  color: var(--color-black);
  border-color: var(--color-black);
}

.all-btns {
  transition: color 0.15s;
  border: 2px solid transparent;
  border-radius: 5px;
  cursor: pointer;
}

.all-btns:hover {
  color: var(--color-purple);
  border-color: var(--color-purple);
}

.text-highlights {
  color: red;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
  margin-top: 20px;
  border-top: 3px solid var(--color-white);
}

/* Used for Fade In/Out function */
@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
